body > footer {
  width: 100%;
  bottom: 0;
}

@media (min-width: 768px) {
  body > footer {
    position: fixed;
  }
}

#credit-bar {
  width: 100%;
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #ccc;
}

#credit-bar > .container {
  position: relative;
}

#credit-bar-text {
  float: left;
  margin-bottom: 0;
}

#toggle-credits {
  display: block;
  float: left;
}

#github-link {
  display: block;
  position: absolute;
  right: 0;
  padding-top: 4px;
}
