
.navbar-nav {
  font-size: 17px;
}

.navbar-nav>.active {
  background-color: #E7E7E7
}

.navbar-nav>li, .navbar-nav>li>a {
  padding-bottom: 5px;
}

ul.subnav {
  line-height: 0;
  height: 6px;
  bottom: 6px;
  list-style-type: none;
  padding-left: 0;
  text-align: center;
}

ul.subnav li {
  display: inline-block;
}

ul.subnav li a {
  display: inline-block;
  text-align: center;
  height: 5px;
  width: 5px;
  border-radius: 5px;
}

ul.subnav>.active>a {
  background-color: #D22;
}

.slide-circle {
  background-color: #B99;
}