/* Styles for vizualization elements */
#your-city-map-container {
  width: 100%;
  height: 500px;
}

.leaflet-popup-content ul {
  list-style-type: none;
  padding-left: 0;
}

.legend {
}

.legend dl {
  width: 180px;
}

.legend dt, dd {
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
}

.legend dt {
  width: 20px;
  margin-right: 10px;
}

.legend dd {
  width: 140px;
}

.chart-bar .tooltip-chart rect {
  fill: #fff;
  stroke: #000;
}
