/* Styles for vizualization elements */
#your-city-map-container,
#affecting-women-map-container {
  width: 100%;
  height: 500px;
}

.leaflet-popup-content ul {
  list-style-type: none;
  padding-left: 0;
}

.leaflet-popup-content li {
  font-size: 12px;
}

.legend h4 {
  font-size: 18px;
}

.legend dl {
  width: 180px;
}

.legend dt, dd {
  display: block;
  float: left;
  height: 20px;
  line-height: 20px;
}

.legend dt {
  width: 20px;
  margin-right: 10px;
}

.legend dd {
  width: 140px;
}

#top-charges-map-container .legend dd {
  height: 40px;
}

.chart-bar .tooltip-chart rect {
  fill: #fff;
  stroke: #000;
}

.ratio-container {
  width: 50%;
  float: left;
}

#affecting-women-viz-container {
  margin-bottom: 10px;
}

#affecting-women-viz-container .viz-container {
  overflow-y: hidden;
}

#affecting-women-viz-container img {
  max-width: 50px;
  max-height: 50px;
  margin-bottom: 10px;
}

#affecting-women-viz-container figcaption {
  text-align: center;
  font-style: italic;
}
