/*
 * Main stylesheet for this project
 */

/* Words with a popup definition */

[data-term] {
  text-decoration: underline;
}


/* General stuff */

body {
  position: relative;
}

.container {
  margin: auto 15px;
}

p {
  line-height: 20px;
  font-size: 16px
}

/* Get hash navigation to actually
   go where it's supposed to */

h2:before { 
  display: block; 
  content: " "; 
  margin-top: -110px; 
  height: 110px; 
  visibility: hidden; 
}


/* Cover page */

#cover-page {
  margin-bottom: 2em;
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  background-color: gray;
}

#cover-page img {
  max-width: 100%;
}

#cover-page .container {
  position: absolute;
  top: 0;
}

#c2c-placeholder {
   width: 100%;
   height: 300px;
   background-color: gray;
}

.img-strip-placeholder {
  height: 200px;
  background-color: gray;
  width: 100%;
}

{# Low-rent asset pipeline #}

{% include "css/_viz.css" %}
{% include "css/_stats.css" %}
{% include "css/_nav.css" %}
