/*
 * Main stylesheet for this project
 */

/* Words with a popup definition */

[data-term] {
  text-decoration: underline;
}

/* General stuff */

body {
  position: relative;
}

p {
  font-size: 16px;
  line-height: 20px;
}

/* Get hash navigation to actually
   go where it's supposed to */

/* by some means */

section.container {
  width: 768px;
}

section h2 {
  font-size: 60px;
  text-align: center;
}

section > p,
section > ul > li {
  font-size: 22px;
  line-height: 1.5;
  font-family: Georgia,Cambria,"Times New Roman",Times,serif;
}

/* Cover page */

#cover-page {
  margin-bottom: 2em;
  position: relative;
  width: 100%;
}

#cover-page .bg-img,
#cover-page .bg-clear {
  height: 100vh;
  /* fix background */
  background-attachment: fixed;

  /* center it and clear the top nav bar*/
  background-position: center 50px;

  /* Scale it nicely to the element */
  background-size: cover;

  background-image: url(../img/courtroom_rough.jpg)
}

#cover-page .bg-shade {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
  text-align: center;
}

#cover-page .bg-shade h1 {
  position: relative;
  top: 35%;
  font-size: 80px;
  font-weight: bold;
  color: #fff;
}


{# Low-rent asset pipeline #}

{% include "css/_viz.css" %}
{% include "css/_stats.css" %}
{% include "css/_nav.css" %}
{% include "css/_footer.css" %}
