{% extends '_base.html' %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css">
  <link rel="stylesheet" type="text/css" href="css/simple.css" />
  <link rel="stylesheet" type="text/css" href="css/convictions.css">
  <!--
  <link rel="stylesheet" type="text/css" href="css/viz.css">
  <link rel="stylesheet" type="text/css" href="css/stats.css">
  -->
{% endblock css %}

{% block content %}

<div class="reveal">
  <div class="slides">
    {% for slide in slides %}
    <section id="{{ slide.id }}"{% if slide.class %} class="{{ slide.class }}"{% endif %}>  
      {{ render_file("slides/{0}.md".format(slide.id))|markdown }}
      <br/><hr><br/>
    </section>
    {% endfor %}
  </div>
</div>

{% endblock content %}

{% block library_scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
{% endblock %}

{% block scripts %}
<script src="js/convictions.js"></script>
<script src="js/convictions-charts.js"></script>
<script>
$(function() {
  // Data and URLs to data
  var DATA_BASE_URL = 'data';
  var COMMUNITY_AREAS_URL = DATA_BASE_URL + '/community_areas.json';
  var CONVICTIONS_BY_COMMUNITY_AREA_AGE_18_24_URL = DATA_BASE_URL + '/convictions_by_community_area_18_24.json';
  var CONVICTIONS_BY_AGE_URL = DATA_BASE_URL + '/convictions_by_age.json';

  var CONVICTIONS_BY_TYPE = [{"value": 4183, "label": "Violent Index Crimes"}, {"value": 10477, "label": "Property Index Crimes"}, {"value": 36275, "label": "Drug Crimes"}, {"value": 90526, "label": "Uncategorized"}];
  var DRUG_CONVICTIONS = [{"value": 3825, "label": "Manufacture or delivery of non-cannibus drugs"}, {"value": 4015, "label": "Dealing in a school Area"}, {"value": 33679, "label": "Cannibus related"}, {"value": 38521, "label": "Non-cannibus possession"}];
  var CONVICTIONS_BY_SEX_AGE_18_24 = {"uknwn_sex": 2, "female": 3809, "male": 39769};

  // @todo: Move some of this initialization into the Convictions namespace.
  function createCommunityAreaMap(el) {
    var communityAreas = new Convictions.CommunityAreas();
    var communityAreasMap = new Convictions.CommunityAreaMapView({
      collection: communityAreas,
      el: el 
    });

    communityAreas.url = COMMUNITY_AREAS_URL; 

    communityAreas.fetch();
  }

  function createCategoryChart(el) {
    var chart = Convictions.charts.barChart();

    d3.select(el)
      .datum(CONVICTIONS_BY_TYPE)
      .call(chart);
  }

  function createDrugChart(el) {
    var data = DRUG_CONVICTIONS; 
    var total = d3.sum(data, function(d) {
      return d.value;
    });
    var pctData = data.map(function(d) {
      return {
        label: d.label,
        value: (d.value / total) * 100
      };
    });
    var formatValue = d3.format(",.1%");
    var chart = Convictions.charts.horizontalBarChart()
        .tooltipValue(function(d) {
          return formatValue(d.value / 100);
        });
    d3.select(el)
      .datum(pctData)
      .call(chart);
  }

  function ageRangeLabel(d) {
    var label = "";

    if (d.invalid_ages) {
      return "Unknown Age"
    }

    if (d.age_min) {
      label += d.age_min;
      if (d.age_max) {
        label += " - ";
      }
    }
    else {
      label += "<"
    }

    if (d.age_max) {
      label += d.age_max; 
    }
    else {
      label += "+";
    }
 
    return label;
  }

  function createAgeChart(el, data) {
    var xformedData = data.sort(function(a, b) {
      if (a.invalid_ages) {
        return 1;
      }
      else if (b.invalid_ages) {
        return -1;
      }
      else if (a.age_min < b.age_min) {
        return -1;
      }
      else if (a.age_min == b.age_min) {
        return 1;
      }
      else {
        return 1;
      }
    })
    .map(function(d) {
      return {
        value: d.total_convictions,
        label: ageRangeLabel(d)
      };
    });
    var chart = Convictions.charts.horizontalBarChart()

    d3.select(el)
      .datum(xformedData)
      .call(chart);
  }

  createCommunityAreaMap('#your-city-map');
  createCategoryChart('#charges-categories-chart');
  createDrugChart('#drug-charges-chart');
  $.getJSON(CONVICTIONS_BY_AGE_URL, function(data) {
    createAgeChart('#convictions-by-age-chart', data);
  });
  
  // Download the JSONified version of the tarbell context
  $.getJSON('/data.json', function(data) {
     var glossary = data.glossary;

     // Look for items with a 'data-term' attribute set and enable a 
     // definition popover 
     $('[data-term]').each(function() {
       var $el = $(this);
       var term = $el.data('term');
       var entry = glossary[term];

       $el.popover({
         content: entry.value,
         title: entry.label,
         trigger: 'click hover'
       });
     });
  })
});
</script>
{% endblock %}
