{% extends '_sandbox.html' %}

{% block css %}
  {{ super() }}
  <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.css">
  <link rel="stylesheet" type="text/css" href="css/convictions.css">
{% endblock css %}

{% block content %}
<div class="container">
  <table id="table-top-charges" class="table">
    <thead>
      <tr>
        <th>Position</th>
        <th>Statute</th>
        <th>Charge Description</th>
        <th>Count</th>
      </tr>
    </thead>
    <tbody>
      {% for charge in top_charges %}
      <tr>
        <td>{{ loop.index }}</td>
        <td><a href="{{ charge.statute_url }}">{{ charge.statute }}</a></td>
        <td>{{ charge.chrgdesc }}</td>
        <td>{{ charge.count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div id="top-charges-map-container" style="height: 500px"></div>
{% endblock content %}

{% block library_scripts %}
{{ super() }}
<script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.2/backbone-min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.3/leaflet.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js"></script>
{% endblock %}

{% block scripts %}
<script src="js/convictions.js"></script>
<script src="js/convictions-charts.js"></script>
<script>
$(function() {
  var DATA_BASE_URL = 'data';
  var COMMUNITY_AREAS_URL = DATA_BASE_URL + '/community_areas.json';
  var COMMUNITY_AREA_TOP_CHARGES = {{ top_charges_by_community_area|community_area_top_charge_json|safe }};

  var communityAreas = new Convictions.ConvictionGeoJSONCollection();
  var topChargeMap = new Convictions.CategoryMapView({
    collection: communityAreas,
    joinProperties: COMMUNITY_AREA_TOP_CHARGES,
    joinAttr: 'number',
    defaultFillProperty: 'top_charge',
    defaultFillLabel: "Most Common Charge",
    el: '#top-charges-map-container',
    // http://colorbrewer2.org/?type=qualitative&scheme=Set1&n=6
    colors: ['rgb(228,26,28)','rgb(55,126,184)','rgb(77,175,74)','rgb(152,78,163)','rgb(255,127,0)','rgb(255,255,51)'],
    popupTemplate: _.template("<%= name %>" +
      "<ul>" +
      "<li>Most Common Charge: <%= top_charge %>" +
      "</ul>"
    )
  });

  communityAreas.url = COMMUNITY_AREAS_URL;
  communityAreas.fetch();
});
</script>
{% endblock %}
